@import 'reset';

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

body {
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.app {
  font-family: $font-stack;
  font-weight: normal;
  font-size: 12pt;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  cursor: default; /* This is intentional */
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
  color: #999;
}
