.BusVehicleDataWrapper {
    height: 100vh;
}

.BusVehicleDataSidebar {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999999;
    background: rgba(255,255,255,0.8);
    z-index: 2;
}

.BusVehicleDataMap {
    overflow: hidden;
}

.BusVehicleDataPanel {
    padding: 0.66rem;
}

.Stats {
    display: none;
    font-size: 7pt;
}

.BusVehicleDataSearchInput {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.33rem 0.66rem;
    font-size: 14pt;
    border: 0;
    background: transparent;
}

.BusVehicleDataSearchResults {
    max-height: calc(100%);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid #999999;
    font-size: 11pt;

    .Row {
        cursor: pointer;
    }

    .Row:hover {
        background: rgba(80, 139, 247, 0.25);
    }
}

.BusVehicleDataSelectedVehicle {
    border-top: 0;

    .SelectedVehicle {
        border-top: 1px solid #999999;
    }
}

.BusVehicleDataNav {
    font-size: 14pt;

    .Back {
        height: 50px;
        display: inline-block;
        padding: 0 0.6rem;
        text-decoration: none;
    }
}

.BusVehicleDataNav,
.BusVehicleDataSearchInput {
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
}

.Row {
    padding: 0.33rem 0.66rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 11pt;
}

.Details {
    font-size: 0.75rem;
}
